body {
    margin: 0;
    padding: 0;
}

.promo-message {
    display: none;
}


.navbar {
    border-bottom: 1px solid gray !important;
}



.navbar__image {
    width: 30vw;
    height: 4vh;
    margin-top: 5px;
}

.navbar__button-burger {
    border-radius: 5px;
}

.navbar__link {
    color: black;
}

/* navbar ends here */

/* first section */

.slogan__logo {
    display: none;
}

.slogan {
    margin: 25px;
}

.slogan__heading--larger,
.slogan__heading {
    font-weight: 600px;
    font-size: 50px;
    margin-bottom: 10px;
}

.slogan__paragraph {
    font-size: 17px;
    margin-bottom: 15px;
}

.slogan__button {
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 3vh;
    padding: 15px;
    display: flex;
    align-items: center;
}

.slogan__button-arrow {
    margin-left: 160px;
}

.product__image {
    width: 100%;
}

.earthbar__image {
    display: none;
}

.divider {
    border: 1px solid black;
    margin: 5%;
}

/* second section */

.slogan__container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}



/* Large Screens */

@media (min-width: 600px) {
    
    .promo-message {
        height: 5vh;
        font-size: 15px;
        justify-content: center;
        background-color: black;
        color: white;
        display: flex;
        padding: 2px;
    }

    .navbar__image {
        width: 10vw;
    }

    .navbar__link {
        color: black;
    }

    /* Nav ends here */

    /* first section */

    .container {
        display: flex;
        margin: 10px;
    }

    .slogan {
        width: 50%;
    }

    .slogan__heading--larger {
        font-size: 5vw;
    }

    .slogan__paragraph {
        font-size: 2vw;
        margin-bottom: 30px;
    }

    .product__image {
        width: 45vw;
    }

    /* second section */

    .slogan__container {
        display: flex;
        flex-direction: row;
    }

    .slogan__heading {
        font-size: 50px;
        flex-basis: 100%;
    }

    .slogan__paragraph {
        flex-basis: 100%;
        font-size: 20px;
    }




}