body {
    margin: 0;
    padding: 0;
}

/* nav {
    position: fixed;
    display: block;
} */

.promo-message {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 2vh;
    font-size: 7px;
    padding: 2px;
}


.nav-container {
    display: flex;
    justify-content: space-around;
}

.company-logo {
    width: 12vw;
    height: 2vh;
    margin-top: 5px;
}

.nav-1 {
    display: flex;
}

.nav__item {
    list-style: none;
}

.slogan__logo {
    display: none;
}

.nav__item--1,
.nav__item--2 {
    display: flex;
    width: 22vw;
    justify-content: space-between;
    align-items: center;
    font-size: 7px;
}

/* Nav ends here */

.slogan {
    margin: 25px;
}

.text__slogan--1 {
    font-weight: 600px;
    font-size: 50px;
}

.text__slogan--2 {
    font-size: 17px;
    margin-bottom: 15px;
}

.slogan__button {
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 7vh;
    padding: 15px;

}

.slogan__button--arrow {
    margin-left: 160px;
}

.product__image {
    width: 100%;
}

.earthbar__logo--image {
    display: none;
}

.divider {
    width: 50%;
}


@media (min-width: 600px) {
    body {
        font-size: 16px; 
    }


    .promo-message {
        height: 5vh; 
        font-size: 15px; 
    }

    .company-logo {
        width: 16vw; 
        height: 6vh; 
        margin-top: 15px;
    }

    .nav__item--1,
    .nav__item--2 {
        width: 20vw; 
        font-size: 20px; 
    }

    /* Nav ends here */

    .container {
        display: flex;
        padding: 10px;
        margin: 10px;
    }

    .slogan {
        width: 50%;
    }

    .slogan__logo {
        display: block;
    }

    .text__slogan--1 {
        font-size: 5vw;
    }

    .text__slogan--2 {
        font-size: 2vw;
        margin-bottom: 10px;
    }

    .slogan__button,
    .slogan__button--arrow {
        display: flex;
        align-items: center;
    }

    .product__image {
        width: 45vw;
    }

    .earthbar__logo--image {
        display: block;
    }
}