body {
    margin: 0;
    padding: 0;
}

.promo-message {
    display: none;
}

.navbar__image {
    width: 30vw;
    height: 4vh;
    margin-top: 5px;
}

.navbar__button--burger {
    border-radius: 5px;
}

.navbar__item--dark {
    color: black;
}

/* navbar ends here */

.slogan__logo {
    display: none;
}

.slogan {
    margin: 25px;
}

.slogan__heading {
    font-weight: 600px;
    font-size: 50px;
}

.slogan__paragraph {
    font-size: 17px;
    margin-bottom: 15px;
}

.slogan__button {
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 3vh;
    padding: 15px;
    display: flex;
    align-items: center;

}

.slogan__button--arrow {
    margin-left: 160px;
}

.product__image {
    width: 100%;
}

.earthbar__image {
    display: none;
}

/* Large Screens */

@media (min-width: 600px) {
    
    .promo-message {
        height: 5vh;
        font-size: 15px;
        display: block;
        justify-content: center;
        background-color: black;
        color: white;
        display: flex;
        padding: 2px;
    }

    .navbar__image {
        width: 16vw;
        height: 35px;
        margin-top: 15px;
    }

    .navbar__item--dark {
        color: black;
    }

    /* Nav ends here */

    .container {
        display: flex;
        padding: 10px;
        margin: 10px;
    }

    .slogan {
        width: 50%;
    }

    .slogan__logo {
        display: block;
    }

    .slogan__heading {
        font-size: 5vw;
    }

    .slogan__paragraph {
        font-size: 2vw;
        margin-bottom: 10px;
    }

    .product__image {
        width: 45vw;
    }

    .earthbar__image {
        display: block;
    }
}